#menu-toggler {
  display: block;
  position: absolute;
  top: 20px;
  right: 26px;
  width: 38px;
  height: 38px;
  border: none;
  outline: none;
  appearance: none;
}

#menu-toggler:checked + nav {
  display: block;
}

.menu-toggler-icon {
  display: block;
  position: absolute;
  top: 20px;
  right: 18px;
  width: 22px;
  height: 22px;
}
nav {
  display: none;
}

/* Custom ScrollBar  */
/* Scrollbar width */
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #dbd2f7;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #832cee;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6001d2;
}